*,
*::before,
*::after {
    box-sizing: border-box;
}

#advancedSearchLabel label {
    color:#F28B82;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
body {
    background-color: rgba(0, 0, 0, 0.834);
    margin-left: 25px;
}
#pagesDiv {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
span {
    color: #E8EAED;
    margin-bottom: 26px;
    display: inline-block; /* Or block */
}

label {
    color: #969BA1;
}
#SearchDiv {
    margin-top: 40px;
}
hr {
    border-width: 3px;
    color: black;
}
